@import url('https://fonts.googleapis.com/css?family=Khula');

.app {
  padding: 1em 2em 0;
  width: 75%;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
  font-size: 16px;
}

.appTitle {
  margin: 0 0 1em;
  font-weight: normal;
  font-size: 2.5rem;
  border-bottom: 1px solid #ccc;
}

.appAuthor {
  margin-left: 1em;
  vertical-align: top;
  font-size: 1.25rem;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menuItem {
  margin-right: 10px;
}
